{% extends 'base.html' %}
{% block title %}Boggle Page{% endblock %}
{% block content %}

<h1>Boggle</h1>
<div align="center">
    <p id="highscore">HIGHSCORE: {{session.get('highscore', 0)}}</p>
    <p id="gamesPlayed">GAMES PLAYED: {{session.get('games-played', 0)}} </p>
</div>

{% for row in session['board'] %}
<div class="row">
    {% for letter in row %}
    <div class="letter">
        {{letter}}
    </div>
    {% endfor %}
</div>
{% endfor %}
<div align="center">
    <p id="score">SCORE: 0</p>
    <p id="timer">Timer: 60</p>
    <p id="msg">{{msg}}</p>
</div>
<form id="form-guess">
    <label for="guess">Enter a guess: </label>
    <input type="text" id="guess">
    <br>
    <br>
    <button>Submit</button>
</form>



{% endblock %}