{% extends 'base.html' %}
{% block title %}Madlib Form 3{% endblock %}
{% block content %}

<h1>Madlibs!</h1>
<form action="/story">
    <input type="hidden" name="param" value="3" />
    <label for="noun1">noun: </label>
    <input type="text" name="noun1" required>
    <br>
    <br>
    <label for="noun2">noun: </label>
    <input type="text" name="noun2" required>
    <br>
    <br>
    <label for="adverb">adverb: </label>
    <input type="text" name="adverb" required>
    <br>
    <br>
    <label for="adjective">adjective: </label>
    <input type="text" name="adjective" required>
    <br>
    <br>
    <button>Submit!</button>
</form>

{% endblock %}