{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}

<div class="container m-3">
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <div class="form-group row">
            <div class="column col-sm-6">
                <label for="title" class="control-label">Title</label>
                <br>
                <input type="text" class="form-control" id=title name="title" value="{{post.title}}"" required>
            </div>
        </div>
        <br>
        <div class=" form-group row">
                <div class="column col-sm-6">
                    <label class="form-label" for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="3"
                        required>{{post.content}}</textarea>
                </div>
            </div>

            <br>
            <div class="form-group float-end">
                <input type="submit" class="btn btn-outline-info" name="action" value="Cancel" formnovalidate />
                <input type="submit" class="btn btn-success" name="action" value="Edit" />
            </div>
    </form>
</div>


{% endblock %}