{% extends 'base.html' %}
{% block title %}User Detail{% endblock %}
{% block content %}

<div class="m-3">
    <h1>User Detail</h1>
    <div class="col-md-4">
        <!-- <div> -->
        <img src="{{user.image_url}}" class="img-fluid">
    </div>
    <div>
        {{user.full_name}}

        <form action="/this will be set in app.js" id="userDetailForm">
            <input type="submit" class="btn btn-primary" id="Edit" onclick="getOrPost(this,{{user.id}})" name="action"
                value="Edit" />
            <input type="submit" class="btn btn-danger" id="Delete" onclick="getOrPost(this,{{user.id}})" name="action"
                value="Delete" />
        </form>
    </div>
    <br><br>

    <div class="column col-sm-4"></div>
    <div>
        Posts

        <ul>
            {% for post in posts %}
            <li><a href="/posts/{{post.id}}" style="text-decoration: none">{{post.title}}</a></li>
            {% endfor %}
        </ul>

        <form action="/users/{{user.id}}/posts/new" method="GET">
            <input type="submit" class="btn btn-primary" id="AddPost" name="addPost" value="Add Post" />
        </form>
    </div>
</div>

{% endblock %}