h1, span {
text-align: center;
}

.messaging {
  text-align: center;
  font-size: 2em;
  font: bold;
}


.row {
    text-align: center; 
    margin-bottom: 1em;
  }
  
.letter {  
    color: blue;
    font-family: "Aperco", monospace;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: inline-flex;
    border: 1px solid black;
    margin-right: .25em;
    padding: .50em;
 }

 form {
  text-align: center; 
 }

 label {
  font-size: 1.5em;
 }