div {
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
}

#postContent {
    font-weight: lighter
}

#postFullName {
    font-style: italic;
    font-weight: lighter
}


img {
    width: 25em;
}

.btn-info {
    color: #FFF;
}