.container {
    padding: 1em;
    border-color: black;
    display: inline-block;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    vertical-align: top;
}

.pet {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    width: 10em;
    text-align: center;
}

.petform,
button {
    margin-left: 1em;
}

.pic,
img {
    display: block;
    margin: 1em;
    width: 10em;
}

#photo_url {
    width: 50em;
}

#notes {
    width: 52em;
}