<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <h1>Cupcakes!</h1>
    <ul></ul>
    <h2>Add Cupcake</h2>
    <form id="input-form" methods="POST">
        <label for="flavor">Flavor: </label>
        <input type="text" id="flavor" name="flavor" />
        <br><br>
        <label for="size">Size: </label>
        <input type="text" id="size" name="size" />
        <br><br>
        <label for="rating">Rating: </label>
        <input type="text" id="rating" name="rating" />
        <br><br>
        <label for="image">Image: </label>
        <input type="text" id="image" name="image" />
        <br><br>
        <button>Submit!</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>

</html>