{% extends 'base.html' %}
{% block title %}User Detail{% endblock %}
{% block content %}

<div class="m-3">
    <h1>User Detail</h1>
    <div class="col-md-4">
        <!-- <div> -->
        <img src="{{user.image_url}}" class="img-fluid">
    </div>
    <!-- <div class="col-md-4"> -->
    <div>
        <!-- {{user.first_name}} {{user.last_name}} -->
        {{user.full_name}}

        <form action="/this will be set in app.js" id="userDetailForm">
            <input type="submit" class="btn btn-primary" id="Edit" onclick="getOrPost(this,{{user.id}})" name="action"
                value="Edit" />
            <input type="submit" class="btn btn-danger" id="Delete" onclick="getOrPost(this,{{user.id}})" name="action"
                value="Delete" />
        </form>
    </div>
</div>

{% endblock %}