{% extends 'base.html' %}
{% block title %}Create Tag{% endblock %}
{% block content %}

<div class="container m-3">
    <h1>Create a tag </h1>
    <form action="/tags/new" method="POST">
        <div class="form-group row">
            <div class="column col-sm-6">
                <label for="name" class="control-label">Name</label>
                <br>
                <input type="text" class="form-control" id=name name="name" required>
            </div>
        </div>
        <br>

        <div class="form-group float-end">
            <input type="submit" class="btn btn-outline-info" name="action" value="Cancel" formnovalidate />
            <input type="submit" class="btn btn-success" name="action" value="Add" />
        </div>
    </form>
</div>


{% endblock %}