{% extends 'base.html' %}
{% block title %}List Tag{% endblock %}
{% block content %}

<div class="m-3">
    <h1>Tags</h1>
    <ul>
        {% for tag in tags %}
        {% if tag.posts|length > 0 %}
        <li><a href="/tags/{{tag.id}}" style="text-decoration: none">{{tag.name}}</a></li>
        {% else %}
        <li>{{tag.name}}</li>
        {% endif %}
        {% endfor %}
    </ul>
    <form action="/tags/new" method="GET">
        <button class=" btn btn-primary">Add Tag</button>
    </form>
</div>

{% endblock %}